#sudoku-board {
  border-collapse: collapse;
  margin: 0 auto;
}

#sudoku-board td {
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
}

#sudoku-board input {
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  text-align: center;
}

.user-input {
  background-color: #e0e0e0; /* Color for cells with user input */
}

/* Add a thicker border for every third row and column to create 3x3 grid lines */
#sudoku-board tr:nth-child(3n) td {
  border-bottom-width: 9px; /* Adjust the thickness of the border */
}

#sudoku-board td:nth-child(3n) {
  border-right-width: 13px; /* Adjust the thickness of the border */
}

/* Add thicker border for 3x3 subgrids */
#sudoku-board tr:nth-child(3n + 1) td {
  border-top-width: 9px; /* Adjust the thickness of the border */
}

#sudoku-board td:nth-child(3n + 1) {
  border-left-width: 9px; /* Adjust the thickness of the border */
}

button {
  margin-top: 15px;
  font-size: 1em;
}
